{% extends "base.html" %}
{% load staticfiles i18n bootstrap3 site %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/csapp.css' %}">
{% endblock %}

{% block body-id %}{{ slug|slugify }}{% endblock %}

{% block content %}
    <h1>Canvas HTML</h1>
    <div id="rensonsive-canvas">
        <canvas id="chart" width="800", height="480"></canvas>
    </div>
{% endblock %}

{% block bottom-scripts %}
    {{ block.super }}
    <script src="{% static 'js/intro.js' %}"></script>
{% endblock bottom-scripts %}